<div id="<%= dom_id animal %>">
  <header>
  <strong>
    <%= animal.name %>
  </strong>
  </header>

  <div class='article-body'>
  <%- if animal.link %>
    <strong>
      <%= link_to 'Link', animal.link %>
    </strong>
  <%else %>
    <em> No link </em>
  <% end%>
  </div>
  <div>
  <strong>Info:</strong>
  <%- if animal.content.present? %>
    <%= animal.content  %>
  <% else %>
    <p><em> No info availalbe </em></p>
  <% end %>
  </div>
  <div>
  <%= image_tag animal.image.variant(resize_to_limit: [100, 100]) %>
  </div>

</div>

